{% block form_row %}
    <div class="input-group">
        <span style="min-width:150px" class="input-group-addon" id="basic-addon1">{{ name }}</span>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div><br/>
{% endblock %}

{%- block button_widget -%}
    {%- if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button style="float:right" class="btn btn-default" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
        </div>
    </div>
{%- endblock button_widget -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input class="form-control" aria-describedby="basic-addon1" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form class="form-horizontal" name="{{ name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}

{% block _manage_bundle_castingbundle_slide_file_widget -%}
    {% if form.vars.data %}
        <a style="width:100%" class="th" href="/{{ form.vars.data }}">
            <img class="img-thumbnail" src="/{{ form.vars.data }}">
        </a>
    {% endif %}
    {{ block('form_widget_simple') }}
{% endblock %}

