{% extends 'ManagecastingBundle::layout.html.twig' %}

{% block content %}
    <table>
    {% for playlist in playlists %}
        <tr onclick="location.href='{{ path('manage_casting_playlist_detail', {'id': playlist.id}) }}';">
            <td>{{ playlist.id }}</td>
            <td>{{ playlist.name }}</td>
            <td>{{ playlist.description }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
