{% extends "FOSUserBundle::layout.html.twig" %}
<div class="large-12 columns content-box" style="padding-top:10px; text-align: right">
    {% block fos_user_content %}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    {% endblock fos_user_content %}
</div>