{% extends 'ManagecastingBundle::layout.html.twig' %}
{% block title %}Stores{% endblock %}

{% block content %}
    {% include '@Managecasting/Store/navigation.html.twig' %}
    <h2 class="sub-header">Overview</h2>

        <table id="table" class="table table-striped" cellspacing="0" width="90%">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for store in stores %}
                <tr onclick="location.href='{{ path('manage_casting_store_detail', {'id': store.id}) }}';">
                    <td>{{ store.id }}</td>
                    <td>{{ store.name }}</td>
                    <td>{{ store.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}