<div class="row placeholders">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ path('manage_casting_store_index') }}">Overview</a></li>
        <li role="presentation"><a href="{{ path('manage_casting_store_new') }}">New store</a></li>
    </ul>
</div>