<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Manage Application{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/managecasting/css/style.css') }}"/>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
