<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Manage Application{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/managecasting/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('react-0.11.2/build/react.js') }}"/>
    <link rel="stylesheet" href="{{ asset('react-0.11.2/build/JSXTransformer.js') }}"/>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>