<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Manage Application{% endblock %}</title>
    {% include 'stylesheets.html.twig' %}
    {% include 'javascript.html.twig' %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
