{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block content_title %}Homepage{% endblock %}
{% block body %}test
<div id="mount-point"></div>
<script type="text/jsx">
/** @jsx React.DOM */


React.renderComponent(
    React.DOM.h1(null, 'testomg'),
    document.getElementById('myDiv')
);

</script>
{% endblock %}