<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bestcasting</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('bundles/managecasting/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/managecasting/js/jquery.js') }}"></script>
    <link href="{{ asset('bundles/managecasting/css/style.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/managecasting/js/bootstrap.min.js') }}"></script>
</head>
<body>

{% include 'navigation.html.twig' %}

<div class="container-fluid">
    <div class="row">

        {% include 'sidebar.html.twig' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{% block title %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</div>
</body>
</html>
