{% extends 'base.html.twig' %}
{% block title %}My account{% endblock %}
{% block content_title %}Account overview{% endblock %}

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="large-5 large-centered columns">
        {% block fos_user_content %}{% endblock %}
        {% include "@FOSUser/toolbar.html.twig" %}
    </div>
{% endblock %}
