<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bestcasting</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('bundles/managecasting/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/managecasting/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/managecasting/js/bootstrap.min.js') }}"></script>
    <link href="{{ asset('bundles/managecasting/css/style.css') }}" rel="stylesheet">
</head>
<body>
<div>
    {% block fos_user_content %}{% endblock %}
</div>
</body>
</html>