<div class="content alert-box secondary radius" style="text-align: right; background:white;">
    <a class="custom-link" href="{{ path('fos_user_registration_register') }}">Register now</a> |
    <a class="custom-link" href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a>
</div>