{% extends 'layout.html.twig' %}
{% block title %}Slide details{% endblock %}

{% block content %}
    {% include '@Managecasting/slide/navigation.html.twig' %}
    <h3 class="sub-header">Preview</h3>
    <img class="img-thumbnail" src="{{ asset(slide.file) }}"
{% endblock %}


