{% extends 'layout.html.twig' %}
{% block title %}Slide details{% endblock %}

{% block content %}
    {% include '@Managecasting/slide/navigation.html.twig' %}
    <h3 class="sub-header">Preview</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}


