{% extends 'layout.html.twig' %}
{% block title %}Slide new{% endblock %}
{% block content %}
    
    <h2 class="sub-header">New screen</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
