{% extends 'ManagecastingBundle::layout.html.twig' %}

{% block content %}
    <table>
        <tr>
            <td>id</td>
            <td>: {{ slide.id }}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>: {{ slide.name }}</td>
        </tr>
        <tr>
            <td>description</td>
            <td>: {{ slide.description }}</td>
        </tr>
    </table>
{% endblock %}
