{% extends 'ManagecastingBundle::layout.html.twig' %}

{% block content %}
    <table>
    {% for slide in slides %}
        <tr onclick="location.href='{{ path('manage_casting_slide_detail', {'id': slide.id}) }}';">
            <td>{{ slide.id }}</td>
            <td>{{ slide.name }}</td>
            <td>{{ slide.description }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
