{% extends 'layout.html.twig' %}
{% block title %}Playlist list{% endblock %}

{% block content %}
    {% include '@Managecasting/playlist/navigation.html.twig' %}
    <h2 class="sub-header">Overview</h2>

        <table id="table" class="table table-striped" cellspacing="0" width="90%">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for playlist in playlists %}
                <tr onclick="location.href='{{ path('manage_casting_playlist_detail', {'id': playlist.id}) }}';">
                    <td>{{ playlist.id }}</td>
                    <td>{{ playlist.name }}</td>
                    <td>{{ playlist.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}