{% extends 'ManagecastingBundle::layout.html.twig' %}

{% block content %}
    <table>
    {% for screen in screens %}
        <tr onclick="location.href='{{ path('manage_casting_screen_detail', {'id': screen.id}) }}';">
            <td>{{ screen.id }}</td>
            <td>{{ screen.name }}</td>
            <td>{{ screen.description }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
