{% extends 'layout.html.twig' %}
{% block title %}Screen list{% endblock %}

{% block content %}
    {% include '@Managecasting/Screen/navigation.html.twig' %}
    <h2 class="sub-header">Overview</h2>

        <table id="table" class="table table-striped" cellspacing="0" width="90%">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for screen in screens %}
                <tr onclick="location.href='{{ path('manage_casting_screen_detail', {'id': screen.id}) }}';">
                    <td>{{ screen.id }}</td>
                    <td>{{ screen.name }}</td>
                    <td>{{ screen.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}