<div class="row placeholders">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ path('manage_casting_screen_index') }}">Overview</a></li>
        <li role="presentation"><a href="{{ path('manage_casting_screen_new') }}">New screen</a></li>

        {% if app.request.attributes.get('_route') == 'manage_casting_screen_detail' %}
            <li role="presentation"><a href="{{ path('manage_casting_screen_delete', {'id': screen.id}) }}">Delete screen</a></li>
        {% endif %}
    </ul>
</div>